<!-- src/app/course-catalog/course-catalog.component.html -->
<div class="student-dashboard">
  
<div class="scroll-container">
  <div class="course-container">
    <div *ngFor="let course of courses" class="course-card">
      <div class="course-card-header">
        {{ course.title }}
        <div class="course-difficulty-tag">Difficulty: {{ course.difficulty }}</div>
      </div>
      <div class="course-card-body">
        <p class="course-description">{{ course.description }}</p>
        <div class="course-duration">Average Duration: {{ course.avgDuration }} hours</div>
        <div class="course-instructor">Instructor: {{ course.instructorDetails?.name }}</div>
        <button class="course-enroll-button" [routerLink]="'/student-course-view/' + course.id">ENROLL</button>
      </div>
    </div>
  </div>
  
  </div>
</div>