<div class="login-container">
    <form class="login-form" [formGroup]="login" (ngSubmit)="loginSubmit()">
      <!-- Logo Section as Text -->
      <h1 class="login-title">Login</h1>
  
      <!-- Input Fields -->
      <div class="input-group">
        <input type="email" name="email" id="email" class="form-control" placeholder="Email Id" formControlName="email">
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && Email.touched">Email ID is required</div>
      </div>
  
      <div class="input-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" formControlName="password">
        <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && Password.touched">Password is required</div>
      </div>
  
      <!-- Buttons -->
      <div class="button-group">
        <button type="submit" class="btn-login" [disabled]="login.invalid">LOGIN</button>
        <button type="button" class="btn-signup" (click)="signUpSubmit()">SIGN UP</button>
      </div>
    </form>
  </div>
  