<app-back-button></app-back-button>

<div class="module-container">
    <div class="module-header">
        <h1>Module Details</h1>
    </div>
    <div class="module-list">
        <ul>
            <li><strong>Title:</strong> {{moduleDetails.title}}</li>
            <li><strong>Description:</strong> {{moduleDetails.description}}</li>
            <li><strong>Week Number:</strong> {{moduleDetails.serialNumber}}</li>
            <li><strong>Serial Number:</strong> {{moduleDetails.serialNumber}}</li>
        </ul>
    </div>

<h6>Course Content:</h6>
<iframe [src]="contentURL" frameborder="0" class="w-100" height="600px"></iframe>
</div>