<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module Details</title>
</head>
<body>

<h1>Module Details</h1>

<ul>
    <li><strong>Week Number</strong> {{moduleDetails.serialNumber}}</li>
    <li><strong>Serial Number:</strong> {{moduleDetails.serialNumber}}</li>
    <li><strong>Title:</strong> {{moduleDetails.title}}</li>
    <li><strong>Description:</strong> {{moduleDetails.description}}</li>
    <li><strong>Content URL:</strong> <a href={{moduleDetails.contentUrl}} target="_blank">View Content</a></li>
</ul>

</body>
</html>
