<h1>Ungraded Quizes</h1>

    <table>
        <thead>
          <tr>
            <th>Student Name</th>
            <th>submission text</th>
            <th>Grade</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quiz of quizDetails" >
            <td>{{ quiz.userDetails.name }}</td>
            <td>{{ quiz.submissionText }}</td>
            <input type="text" [(ngModel)]="quiz.grade" name="grade" placeholder="grade" required>
            <button (click)="onGradeClick(quiz.id,quiz.grade)">Grade</button>
          </tr>
        </tbody>
      </table>