body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #007BFF;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #007BFF;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

iframe {
    margin-top: 20px;
}

textarea {
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
