
<p class="text-center fs-3" [ngClass]="{'text-success pb-1': isAccCreated, 'text-danger pb-1': !isAccCreated}">
    {{ displayMessage }}
  </p>
  

  <div class="login-container">
    <form class="login-form" [formGroup]="registerForm" (ngSubmit)="signUpSubmitted()">
      <img src="assets/logo.png" alt="LanguageLift Logo">
  
      <!-- Name Input -->
      <div class="input-group">
        <input type="text" name="name" id="name" class="form-control" placeholder="Name" formControlName="name">
        <div class="form-text text-danger" *ngIf="name.errors?.['required'] && name.touched"> Name is required </div>
    </div>
  
      <!-- Email Input -->
      <div class="input-group">
        <input type="email" name="email" id="email" class="form-control" placeholder="Email Id" formControlName="email">
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && Email.touched">Email ID is required</div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && Email.touched">Invalid Email ID </div>
  </div>
  
      <!-- Password Input -->
      <div class="input-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" formControlName="password">
        <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] && Password.touched">Password should be minimum 8 characters long</div>
        <div class="form-text text-danger" *ngIf="Password.errors?.['maxlength'] && Password.touched">Password should be maximum 20 characters long</div>
          </div>
  
      <!-- Confirm Password Input -->
      <div class="input-group">
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
        <div class="form-text text-danger" [ngStyle]="{'display':errorMessage}">Passwords do not match</div>
    </div>
  
      <!-- Buttons -->
      <div class="button-group">
        <button type="submit" class="btn-login" [disabled]="registerForm.invalid">Submit</button>
        <button type="button" class="btn-signup" (click)="login()">Already Registered? Login</button>
      </div>
    </form>
  </div>
  

