/* src/app/student-dashboard/student-dashboard.component.css */

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
  }
  
  .student-dashboard {
    background-color: #B4E6EA; /* Replace with the color you prefer */
    margin: auto;
    min-height: 100vh; /* Make sure it covers the full height */
    min-width: 100vw;
  }
  
  /* Tab Links */
  .nav-tabs {
    margin-top: 20px;
  }
  
  .nav-link {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    background-color: #f8f9fa;
  }
  
  .nav-link.active {
    background-color: #fff;
  }
  
  /* Tab Content */
  .tab-content {
    border: 1px solid #ddd;
    /* border-radius: 0 0 5px 0px; */
    padding: 15px;
  }
  
  /* Course Cards */
  .scroll-container {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
  }
  
  .course-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .course-card {
    flex: 0 0 calc(33.333% - 20px); /* 33.333% width with space between cards */
    margin: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .course-card-header {
    color: #21294F;
    padding: 15px;
    font-weight: 600;
    font-size: 25px;
    position: relative;
  }
  
  
  .course-difficulty-tag {
    margin-top: 5px;
    background-color: #28a745;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
  }
  
  .course-card-body {
    padding: 10px;
  }
  
  .course-description {
    margin-bottom: 10px;
  }
  
  .course-duration,
  .course-instructor {
    margin-bottom: 5px;
  }
  
  .course-enroll-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .course-enroll-button:hover {
    background-color: #0056b3;
  }
  